<div class="login-wrap d-flex align-items-center flex-wrap justify-content-center">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6 col-lg-7">
                <img src="../../../assets/images/login-page-img-3.svg" alt="">
            </div>
            <div class="col-md-6 col-lg-5 animate__animated animate__fadeIn">
                <div class="login-box bg-white box-shadow border-radius-10">
                    <div class="login-title">
                        <h2 class="text-center text-dark">Inicia Sesión</h2>
                    </div>
                    <form [formGroup]="formGroup" (ngSubmit)="onSubmit()" >
                        <small class="text-danger d-block" *ngIf="isEmptyEmail">El correo electrónico es obligatorio.</small>
                        <small class="text-danger d-block" *ngIf="isValidEmail">El correo electrónico no es válido.</small>
                        <div class="input-group custom">
                            <input type="text" class="form-control form-control-lg" [class.border-danger]="hasErrorsEmail" placeholder="Correo Electronico" [formControlName]="'email'" >
                            <div class="input-group-append custom">
                                <span class="input-group-text"><i class="icon-copy dw dw-user1"></i></span>
                            </div>
                        </div>
                        <small class="text-danger d-block" *ngIf="isValidPassword">La contraseña es necesaria para iniciar sesión.</small>
                        <div class="input-group custom">
                            <input type="password" class="form-control form-control-lg" [class.border-danger]="hasErrorsPassword" placeholder="Contraseña" [formControlName]="'password'" >
                            <div class="input-group-append custom">
                                <span class="input-group-text"><i class="dw dw-padlock1"></i></span>
                            </div>
                        </div>
                        <div class="row pb-30">
                            <div class="col-12">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="remember" [formControlName]="'remember'">
                                    <label class="custom-control-label" for="remember">Recordarme</label>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="forgot-password"><a routerLink="/forgot-password">¿Olvidaste tu Contraseña?</a></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="input-group mb-0">
                                    <!--
                                        use code for form submit
                                        <input class="btn btn-primary btn-lg btn-block" type="submit" value="Sign In">
                                    -->
                                    <input type="submit" class="btn btn-warning btn-lg btn-block" value="Iniciar Sesión" [disabled]="formGroup.invalid" >
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>