<div class="container" *ngIf="userDetails">
    <div class="row">
        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 mb-30">
            <div class="pd-20 card-box">
                <h5 class="text-center h5 mb-0">{{ userDetails.name }} {{ userDetails.last_name }}</h5>
                <p class="text-muted">Rol: </p>
                <span class="d-block badge badge-pill badge-primary my-2">{{ userDetails.role }}</span>
                <div class="profile-info">
                    <h5 class="mb-20 h5 text-blue">Información de la Cuenta</h5>
                    <ul>
                        <li>
                            <span>ID: </span>
                            {{ userDetails.userId }}
                        </li>
                        <li>
                            <span>Correo Eléctronico: </span>
                            {{ userDetails.email }}
                        </li>
                        <li>
                            <span>Celular: </span>
                            {{ userDetails.phone }}
                        </li>
                        <li>
                            <span>Dirección:</span>
                            {{ userDetails.address }}
                        </li>
                    </ul>
                </div>
                <button class="btn btn-warning btn-block mt-4" data-toggle="modal" data-target="#exampleModal">Cambiar mi Contraseña <i class="icon-copy dw dw-password ml-2"></i></button>
            </div>
        </div>
    
        <!-- Parte derecha del panel  -->
        <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12 mb-30">
            <div class="card-box height-100-p overflow-hidden">
                <div class="card-header">
                    <p class="text-primary">Ajustes de la cuenta</p>
                </div>
                <div class="card-body form-content">
                    <form [formGroup]="formGroup" (submit)="updateUserProfile()">
                        <div class="form-group row">
                            <div class="col-sm-12">
                                <label for="name">Nombre: </label>
                                <small class="text-danger d-block" *ngIf="isValidName">El nombre es obligatorio</small>
                                <input class="form-control" type="text" id="name" [formControlName]="'name'">
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-12">
                                <label for="lastName">Apellidos: </label>
                                <small class="text-danger d-block" *ngIf="isValidLastname">Los apellidos son obligatorios</small>
                                <input class="form-control" type="text" id="lastName" [formControlName]="'last_name'" >
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-12">
                                <label for="email">Correo: </label>
                                <small class="text-danger d-block" *ngIf="isValidEmail">El correo electronico es obligatorio</small>
                                <small class="text-danger d-block" *ngIf="isValidEmailPatter">El formato de correo electronico no es valido</small>
                                <input class="form-control" type="text" id="email" [formControlName]="'email'" >
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-12">
                                <label for="phone">Celular: </label>
                                <small class="text-danger d-block" *ngIf="isValidPhone">El telefono/celular es obligatorio</small>
                                <small class="text-danger d-block" *ngIf="isValidPhoneNumber">Este campo solo debe contener valores numericos</small>
                                <input class="form-control" type="text" id="phone" [formControlName]="'phone'" >
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-12">
                                <label for="address">Dirección: </label>
                                <small class="text-danger d-block" *ngIf="isValidAddress">La dirección es obligatoria</small>
                                <textarea class="form-control" type="text" id="address" [formControlName]="'address'" ></textarea>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-12 text-right">
                                <button class="btn btn-primary" value="50" type="submit" [disabled]="formGroup.invalid">Guardar <i class="icon-copy dw dw-diskette1 ml-2"></i></button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title text-primary" id="exampleModalLabel">Cambio de contraseña</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form [formGroup]="fgPassowrd" (submit)="onSubmitChangePassword()">
                <div class="form-group">
                    <input type="password" class="form-control" placeholder="Ingrese su antigua contraseña" [formControlName]="'oldPassword'">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" placeholder="Ingrese su nueva contraseña" [formControlName]="'newPassword'">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" placeholder="Repita su contraseña" [formControlName]="'repeatPassword'">
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block">Cambiar</button>
                </div>
            </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="onCloseModal()">Cerrar</button>
        </div>
      </div>
    </div>
</div>