<div class="card border-0">
    <div class="card-header border-0">
        <h4>Categoría</h4>
    </div>
    <div class="card-body">
        <div class="form-group row">
            <div class="col-12">
                <select class="custom-select col-12" (change)="onChangeCategory()" [(ngModel)]="selected">
                    <option disabled value="0">Selecciona la Categoría</option>
                    <option *ngFor="let category of categories" [value]="category.category_id">{{category.category | titlecase}}</option>
                </select>
            </div>
        </div>
    </div>
</div>