<div class="header">
  <div class="header-left">
    <div class="menu-icon dw dw-menu"></div>
  </div>
  <div class="header-right">
    <div class="user-info-dropdown">
      <div class="dropdown">
        <a class="dropdown-toggle  mt-2 mr-4" href="#" role="button" data-toggle="dropdown">
          <span class="user-name">{{ user?.name }} {{ user?.last_name }}</span>
        </a>
        <div class="dropdown-menu dropdown-menu-right dropdown-menu-icon-list">
          <a class="dropdown-item" routerLink='/dashboard/profile'><i class="dw dw-user1"></i> Perfil</a>
          <a class="dropdown-item" (click)="authService.logOut()"><i class="dw dw-logout"></i> Cerrar Sesión</a>
        </div>
      </div>
    </div>
  </div>
</div>