/* You can add global styles to this file, and also import other style files */
:root {
    --ck-z-default: 100;
    --ck-z-modal: calc( var(--ck-z-default) + 999 );
}

.ck-content .table {
    width: auto;
}